header {
  height: 90px;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  padding-top: 15px;
}

#header-logo {
  max-height: 70px;
  margin-top: -5px
}


li {
  padding: 20px;
  background: #CF4647;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  float: right;
  color: white;
  margin-right: 10px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif !important;
}

li:hover {
  cursor: pointer;
  background: #a53838;
}
