<header>
  <div class="col-md-3">
    <img src="../../../assets/logo/Logo-Alterado-horizontal_negativo_Prancheta.png" id="header-logo" alt="REQ Films">
  </div>
  <div class="col-md-9">
    <ul>
      <a routerLink="contato">
        <li>Contato</li>
      </a>
      <a routerLink="portfolio">
        <li>Portfolio</li>
      </a>
      <a routerLink="parceiros">
        <li>Nossos Parceiros</li>
      </a>
      <a routerLink="req-films">
        <li>REQ Films</li>
      </a>
      <a routerLink="/">
        <li>Home</li>
      </a>
    </ul>
  </div>
</header>
