<section>
  <div class="col-md-10 col-md-offset-1">
    <h1><strong>Nossa História</strong></h1>
    <div class="col-md-6">
      <div class="clearfix"></div>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nam blandit eleifend nisl. Pellentesque rhoncus sollicitudin diam,
        sed ullamcorper diam ultrices at. Nulla enim lorem, viverra in erat nec, malesuada convallis mauris.
        Donec quis facilisis lacus, quis elementum ex.
        Donec ut nunc a quam tristique tincidunt quis sit amet felis.
        Maecenas tincidunt rhoncus eros sed finibus. Phasellus quis aliquet diam.
        Cras fringilla lectus justo, nec rutrum sapien consequat a.
        Morbi at volutpat mauris, sit amet rhoncus quam.
        Sed mollis, diam ac pretium eleifend, urna elit lacinia justo, at venenatis tellus lorem ac tortor.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nam blandit eleifend nisl. Pellentesque rhoncus sollicitudin diam,
        sed ullamcorper diam ultrices at. Nulla enim lorem, viverra in erat nec, malesuada convallis mauris.
        Donec quis facilisis lacus, quis elementum ex.
        Donec ut nunc a quam tristique tincidunt quis sit amet felis.
        Maecenas tincidunt rhoncus eros sed finibus. Phasellus quis aliquet diam.
        Cras fringilla lectus justo, nec rutrum sapien consequat a.
        Morbi at volutpat mauris, sit amet rhoncus quam.
        Sed mollis, diam ac pretium eleifend, urna elit lacinia justo, at venenatis tellus lorem ac tortor.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nam blandit eleifend nisl. Pellentesque rhoncus sollicitudin diam,
        sed ullamcorper diam ultrices at. Nulla enim lorem, viverra in erat nec, malesuada convallis mauris.
        Donec quis facilisis lacus, quis elementum ex.
        Donec ut nunc a quam tristique tincidunt quis sit amet felis.
        Maecenas tincidunt rhoncus eros sed finibus. Phasellus quis aliquet diam.
        Cras fringilla lectus justo, nec rutrum sapien consequat a.
        Morbi at volutpat mauris, sit amet rhoncus quam.
        Sed mollis, diam ac pretium eleifend, urna elit lacinia justo, at venenatis tellus lorem ac tortor.
      </p>
      <div class="text-center">
        <button class="btn btn-lg">Confira nossos trabalhos</button>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <img src="../../../assets/logo/Logo-Alterado-vertical_negativo_Prancheta.png" id="about-us-logo" alt="">
    </div>
  </div>
</section>
