.video-background {
  top: 0;
  left: 0;
  z-index: -99;
  overflow: hidden;
  max-height: 966px;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  overflow: hidden;
}

#videoOverflow {
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  position: absolute;
}

@media (max-width: 720px) {
  .video-foreground {
    z-index: 1 !important;
  }
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 120%;
    top: -10%;
    z-index: -2;
  }
}

@media (min-aspect-ratio: 21/9) {
  .video-foreground {
    height: 150%;
    z-index: -2;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
    z-index: -2;
  }
}


#mainSlider {
  max-height: 100%;
}
